* {
    box-sizing: border-box
}

/* Container padding */
.container {
    padding: 16px;
}


/* div style */
div {
    height: max-content;
    width: 100%;
}

.address {
    display: inline-block;
    width: max-content;
}


h1,
h2,
h3,
h4 {
    align-items: center;
    margin: auto;
    justify-content: center;
    text-align: center;
}

/* form style */
form {
    padding: 15px;
    height: max-content;
    width: 40%;
    align-items: center;
    justify-content: center;
    margin: auto;
}



/* Same-width input fields */
input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the register button */
.button {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}